*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    color: slateblue;
}
p{
    color: rgb(139, 129, 206);
}




.button{
    width: 125px;
    height: 35px;
    background-color: slateblue;
    color: white;
}

       

/* media for laptop */
@media screen and (min-width: 1024px) {
    h1{
        margin-left: 40%;
    }
    header{
        margin-left: 90px;
   }
    .container{
        display: flex;
        justify-content: space-evenly;
     }
    .boxes{
        display: flex;
        justify-content: space-evenly;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;
    }
    }




